:root {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #ffffff;
}

body.light {
  --bg: #f1f5f9;
  --card: #ffffff;
  --text: #000000;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial;
  padding: 20px;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

input, select, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  cursor: pointer;
  background: #38bdf8;
  color: white;
}

.cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  width: 180px;
  text-align: center;
}

.chart-container {
  max-width: 800px;
  margin: 20px auto;
}

/* Loader */
.loader {
  border: 5px solid #ccc;
  border-top: 5px solid #38bdf8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Mobile */
@media (max-width: 600px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
